/*th,*/
/*td {*/
/*  text-align: center;*/
/*  vertical-align: middle;*/
/*}*/

body{
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: Raleway;
  background: url("airport.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 50%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.glow{
        color: #000;
        text-shadow: #fff 0 0 3px;}

/*.consulta */
/*{*/
/*  margin-left: 500px;*/
/*  margin-bottom: 20px;*/
/*}*/

.face:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.span1{
  font-size: 20px;
  font-weight: bold;
}
.span2{
  font-size: 2rem;
  border: 7px solid rgba(0, 50, 255, 0.5);
  sfont-weight: bold;
}
.times{
  font-family: 'Times New Roman', sans-serif;
  font-weight: bold;
}
.stroke{
        font-size: 2em;
        font-family: 'Times New Roman', sans-serif;
        color: #fff;
        text-shadow: 1px 1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, -1px -1px 0 #333;
}
/*.first*/
/*{*/
/*  margin-top: 50px;*/
/*}*/
