{% extends base.html %}

{% block content %}
    <div class="form">
        <div class="forceColor"></div>
        <div class="topbar">
            <div class="spanColor"></div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input type="submit" value="Login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
{% endblock %}